<div class="row">
  <div ng-show="{{lista.length}}" class=" col-md-6 thumb-padding text-center" data-ng-repeat="elemento in lista" ng-mousedown="evento(elemento)">
    <div class="thumbnail">
      <div class="draggable">
      <img ng-src="{{elemento.image['300']['href']}}" alt="{{elemento.label}}" style="top:0px; left:0px; max-height: 82px; margin:0 auto;" class="img-responsive">
    </div>
    
      <p>{{elemento.label}}</p>
    </div>
  </div>

  <div ng-show="{{!lista.length}}" class="col-md-12 text-center">
    <p>Nenhuma Imagem Econtrada!</p>

  </div>
</div>
