#editor {}
#quadro-principal {
  min-height: 500px;
  max-height: 1000px;
  margin-top: 5px;
}
#quadro-principal .principal {
  background: #F7F7F7;
  border: 1px solid #CBCCCC;
}
#quadro-principal .principal .sidebar {
  height: 100%;
  border-right: 1px solid #CBCCCC;
  padding: 0px !important;
  margin: 0px !important;
}
#quadro-principal .principal .sidebar .menu {
  border-bottom: 1px solid #CBCCCC;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  -moz-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
}
#quadro-principal .principal .sidebar .menu ul li a {
  padding-left: 10px;
}
#quadro-principal .principal .sidebar .sub-menu {
  border-bottom: 1px solid #CBCCCC;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  -moz-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
}
.draggable {
  z-index: 9999;
}
.draggable-back {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.draggable-inner {
  /*background-color: green;*/
}
#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#navcontainer ul li {
  display: inline;
}
#navcontainer ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #3D5672;
}
#navcontainer ul li a:hover {
  color: #fff;
  background-color: #369;
}
.resize:hover, .resize:active {
  outline: 1px solid #1605FF;
}

@media screen and (min-width: 500px) {
  .edicao {
    width: 800px !important;
    height: 600px !important;
  }
}
@media screen and (min-width: 1352px) {
  .edicao {
    width: 800px !important;
    height: 600px !important;
  }
}
