#editor {}
#quadro-principal {
  min-height: 500px;
  max-height: 1000px;
  margin-top: 5px;
}
#quadro-principal .principal {
  background: #F7F7F7;
  border: 1px solid #CBCCCC;
}
#quadro-principal .principal .sidebar {
  height: 100%;
  border-right: 1px solid #CBCCCC;
  padding: 0px !important;
  margin: 0px !important;
}
#quadro-principal .principal .sidebar .menu {
  border-bottom: 1px solid #CBCCCC;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  -moz-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
}
#quadro-principal .principal .sidebar .menu ul li a {
  padding-left: 10px;
}
#quadro-principal .principal .sidebar .sub-menu {
  border-bottom: 1px solid #CBCCCC;
  -webkit-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  -moz-box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
  box-shadow: 1px 0px 0px 0px rgba(203, 204, 204, 1);
}
.draggable {
  z-index: 9999;
}
.draggable-back {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.draggable-inner {
  /*background-color: green;*/
}
#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#navcontainer ul li {
  display: inline;
}
#navcontainer ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #3D5672;
}
#navcontainer ul li a:hover {
  color: #fff;
  background-color: #369;
}

.elemento-edicao {
  outline: 1px solid #00A8E2;
  outline-offset: 3px;
}
.quadro-marcacao{
  width: 9px;
  height: 9px;
  border: 1px solid #3B00FF;
  background-color: #C2E2FD;
}
.quadrado-top-left {
  top: -3px;
  left: -3px;
  position: absolute;
}
.quadrado-top-right{
  top: 0;
  left: 100%;
  position: absolute;
  transform: translate(-3px, -3px);
}
.quadrado-top-right:hover, .quadrado-top-right:active{
background: blue;
}
.quadrado-bottom-right{
  top: 100%;
  left: 100%;
  position: absolute;
  transform: translate(-3px, -3px);
}
.quadrado-bottom-left{
  top: 100%;
  left: 0;
  position: absolute;
  transform: translate(-3px, -3px);
}
.quadro-excluir{
  top: 50%;
  right: -25px;
  position: absolute;
}
.espaco-botao-selecao{
  padding: 3px;
}

.sumir{
  display: none;
}
.sumir:hover{
  display: block;
}

.box-border-bottom{
  border-bottom: 1px solid #E2E8F0;
}
.box-border-right{
  border-right: 1px solid #E2E8F0;
}
.box-border-left{
  border-left: 1px solid #E2E8F0;
}
.box-border-top{
  border-top: 1px solid #E2E8F0;
}
@media screen and (min-width: 500px) {
  .edicao {
    width: 800px !important;
    height: 600px !important;
  }
}
@media screen and (min-width: 1352px) {
  .edicao {
    width: 800px !important;
    height: 600px !important;
  }
}

/*Meus quadrinhos*/

.quadro{
  border-bottom: 1px solid black;
  margin-top: 2% !important;
}
