<!-- <link href="css/editor.css" rel="stylesheet" type="text/css"> -->
<div class="row" id="editor">
  <div class="col-md-12" id="quadro-principal">
    <div class="row principal">
      <div class="col-md-3 sidebar">
        <div class="row">
          <div class="col-md-12 menu">
            <scroll-horizontal valor="'horiz'">
            <li data-ng-repeat="menu in menus">
              <a ng-click="alterarSubMenu(menu.label)">
                {{ menu.label }}
              </a>
            </li>
          </scroll-horizontal>
        </div>
      </div>

      <div class="row" ng-show="subMenus.length">
        <div class="col-md-12 sub-menu" id="navcontainer">

          <ul>
            <li ng-repeat="menu in subMenus[0].menus">
              <a ng-click="selecionarSubMenu(menu)">
                {{menu.label}}
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 itens-thumb">
          <itens-thumb data-evento="mudarElemento" data-lista="listathumb"/>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12 edicao" ng-style="{'background-image':'url('+historia.fundo.image['800'].href+')'}" style="height: 95%; min-height: 600px; background:white;padding: 0px;" >

          <div class="resize" data-posicao="{{$index}}" elemento-selecionado="valor" ng-repeat="valor in historia.elementos" ng-style="{'transform': valor.transform, '-webkit-transform': valor.transform, '-ms-transform':valor.transform, 'height': valor.height+'%'}" style="max-height: 100%; margin: 0px !important; display:block;position:absolute;width:100%;padding: 3px;" ng-click="trocaElementoSelecionado($index)">
            <img alt="" class="img-responsive resize-image" ng-src="{{valor.image.image['300'].href}}" style="position: absolute;top:0; left:0; overflow: auto;display: block; max-width:100%;max-height: 100%;"/>
            <img alt="" class="img-responsive" ng-repeat="complementos in valor.complementos" ng-src="{{complementos.elemento.image['300']['href']}}" style="position: absolute;top:0; left:0; overflow: auto;display: block;max-width:100%;max-height: 100%;"/>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>
