<div class="box-small-info">
	<div class="row">
		<div class="col-md-offset-2 col-md-2">
			<div class="box-azul-claro text-center">
				<div class="spacer-xs">
					<i class="glyphicon glyphicon-cloud"></i>
					<small class="text-center">Github</small>
					<h3 class="no-margin no-padding text-center">9%</h3>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="box-azul-escuro text-center">
				<div class="spacer-xs">
					<i class="glyphicon glyphicon-cloud"></i>
					<small class="text-center">Github</small>
					<h3 class="no-margin no-padding text-center">9%</h3>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="box-vermelho text-center">
				<div class="spacer-xs">
					<i class="glyphicon glyphicon-cloud"></i>
					<small class="text-center">Github</small>
					<h3 class="no-margin no-padding text-center">9%</h3>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="box-verde text-center">
				<div class="spacer-xs">
					<i class="glyphicon glyphicon-cloud"></i>
					<small class="text-center">Github</small>
					<h3 class="no-margin no-padding text-center">9%</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="blog blog-info">
			<div class="blog-header">
				<h5 class="blog-title">Edição de Quadrinhos</h5>
			</div>
			<div class="blog-body">
				
				<div class="row">
					<div class="col-md-6">
						<div id="edicao">
							<img src="../img/cozinha.jpg" class="img-responsive fundoQuadro" >
						</div>
					</div>
					<div class="col-md-6">
						<div class="blog blog-info">
							<div class="blog-header">
								<h5 class="blog-title">Edição de Quadrinhos</h5>
							</div>
							<div class="blog-body">sdsf</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	
</div>