<div class="row">
	<div class="col-md-12">
		<div class="blog blog-info">
			<div class="blog-header">
				<h5 class="blog-title">Edição de Quadrinhos</h5>
			</div>
			<div class="blog-body">
				
				<div class="row">
					<div class="col-md-6">
						<div id="edicao">
							<img src="../img/cozinha.jpg" class="img-responsive fundoQuadro" >
						</div>
					</div>
					<div class="col-md-6">
						<div class="blog blog-info">
							<div class="blog-header">
								<h5 class="blog-title">Edição de Quadrinhos</h5>
							</div>
							<div class="blog-body">sdsf</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>