<div class="row">
	<div class="col-md-12">
		<div class="blog ">
			<div class="blog-header">
				<h5 class="blog-title">Edição de Quadrinhos</h5>
			</div>
			<div class="blog-body">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<h4>Selecione uma imagem para adicionar como FUNDO de sua cena.</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="edicao">
							<img src="{{imgFundo.img}}" class="img-responsive fundoQuadro" alt="{{imgFundo.name}}" >
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h5 class="panel-title">Selecione um fundo</h5>
							</div>
							<div class="panel-body">
								
								<div class="row" >
									<div class="col-md-6" ng-repeat="valor in imagensExibicao">
										<a href="" ng-click="mudarImagem(valor)" class="thumbnail">
											<img src="{{valor.img}}" class="objeto-selecao" alt="{{valor.name}}">
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										
										<nav>
											<ul class="pager">
												<li class="previous">
													<a href="" ng-click="retrocederPaginacao()">
														<span aria-hidden="true">&larr;</span> Anteriores
													</a>
												</li>
												<li class="next">
													<a href="" ng-click="avancarPaginacao()">Próximos <span aria-hidden="true">&rarr;</span>
													</a>
												</li>
											</ul>
										</nav>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</div>