<div class="row">
	<div class="col-md-6">
		<a href="#" class="thumbnail">
			<img src="../img/cozinha.jpg" class="objeto-selecao" alt="cozinha">
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="thumbnail">
			<img src="../img/quadro.jpg" class="objeto-selecao" alt="cozinha">
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="thumbnail">
			<img src="../img/cozinha.jpg" class="objeto-selecao" alt="cozinha">
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="thumbnail">
			<img src="../img/cozinha.jpg" class="objeto-selecao" alt="cozinha">
		</a>
	</div>
</div>